// color
$primary: #777;
$btn : #dd5347;



html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
h1, h2, h3, p {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-weight: 200;
}

*, *::before, *::after {
    box-sizing: inherit;
}
a, a:hover, a:visited {
    
    text-decoration: none;
}
ul, li {
    list-style-type: none;
}



.scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        display: block;
        padding: .5rem;
        height: 70%;
    }
    width: 5rem;
    height: 5rem;
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    border-radius: 50%;
    background-color: $btn;
    box-shadow: 0 4px 3px 1px rgba(0, 0, 0, 0.6);
    transition: all 200ms ease-in-out;
    &:hover{
        transform: scale(1.1);
    }
}

.btn {
    background-color: $btn;
    color: #fff;
    padding: 1rem 2rem;
    
    
}